form.centered-content {
    display: flex; 
    align-items: center;
    justify-content: center;
    &>div {
        width: 20%;
        & div {
            & label {
                display: block;
            }
            & input {
                width: 100%;
            }
            margin-bottom: 25px;
        }
        & button {
            float: right;
        }
    } 
}