@import '../../App.scss';

.landing-container {
    margin: 8px;
    @extend .full;
    @extend .flex-container;
    & form {
        text-align: right;
        div {
            text-align: right;
            svg {
                margin: 0px 10px;
            }
        }
    }
    &>div {
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-bottom: 52px;
        @extend .flex-contained;
    }
} 