@import '../App.scss';

.login-container {
    margin: 8px;
    @extend .full;
    @extend .flex-container;
    &>nav>form {
        width: 100%;
        text-align: right;
        div {
            width: 100%;
            text-align: right;
            svg {
                margin: 0px 10px;
            }
        }
    }
    form.centered-content {
        display: flex; 
        align-items: center;
        justify-content: center;
        &>div {
            width: 20%;
            margin-bottom: 52px;
            & div {
                & label {
                    display: block;
                }
                & input {
                    width: 100%;
                }
                margin-bottom: 25px;
            }
            & button {
                float: right;
            }
        } 
    }
}
