.home-container {
    & .center-filled{
        white-space: nowrap;
        text-align: center;
        margin: 5px 0px;
        button {
            width:100%;
        }
    }
    & .row {
        display: flex; /* equal height of the children */
    }
    & .col {
        flex: 1; /* additionally, equal width */
    }
    & .person {
        & .n1 {
            padding-right: 0px;
        }
        & .n2 {
            padding-left: 25px;
        }
    }
}
